You can add this code to an HTML document inside a <script> tag, or you can execute it in the browser console. Upon launch, you will be prompted to enter your name and then a welcome message will appear with your name.
